<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415894582991-vvm507se9uemjf720jahbm0d2bqsbmsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415894582991-vvm507se9uemjf720jahbm0d2bqsbmsn</string>
	<key>API_KEY</key>
	<string>AIzaSyAWBnni0bJIy8p-S5uO28lTp0CvqSbNW0w</string>
	<key>GCM_SENDER_ID</key>
	<string>415894582991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utkukaangulsoy.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6fef4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6fef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415894582991:ios:39292676019f412900a9ba</string>
</dict>
</plist>